@import './reset.css';
@import './water.css';

:root{
    --color-error: #dc3545;
    --color-success: #28a745;
    --color-grey: grey;
    --color-higlight: #1c599e;
}


/*GLOBALS*/

button{
    width: fit-content;
}

/*SINGLE CLASS MODIFICATORS*/
.w-100{
    width: 100%;
}

.mr-1x{
    margin-right: 0.5rem;
}

.ml-1x{
    margin-left: .5rem
}

.clickable{
    cursor: pointer;
}

/*Colors*/

.button-highlight{
    background-color: var(--color-higlight);
}

.button-highlight:hover{
    background-color: var(--selection);
}

/*TOGGLE BUTTON*/

.toggle-button {
    width: 60px;
    height: 30px;
    background-color: #312d2d;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
  }
  
  .slider {
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    transition: transform 0.3s ease-in-out;
  }
  
  .on .slider {
    transform: translateX(30px);
  }

  .toggle-button.on{
    background-color: var(--selection);
  }

  .toggle-container{
    display: flex;
    align-items: center;
    padding: .5rem;
  }
  .toggle-container label {
    margin-left: .5rem;
  }
  

/*OTHERS*/

.form{
    display: flex;
    flex-direction: column;
    background-color: var(--background-alt);
    padding: .75rem;
    border: 1px solid var(--color-grey);
    border-radius: .5rem;
}


.invalid-msg{
 width: 100%;
 margin-top: .25rem;
 font-size: .85em;
 color: var(--color-error);

}

.is-valid{
    border: .15em solid var(--color-success) !important;
}

.is-invalid{
    border: .15em solid var(--color-error) !important;
}



.box-container{
    /*border: 1px solid var(--color-grey);*/
    border-radius: 5px;
    padding: .5rem;
    background-color: var(--background);
}

.list-files li{
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    padding: 3px 0.5rem;
    background-color: var(--background-alt);
    margin-top: 3px;
}
.list-files{
    gap: 1px;
    max-height: 200px;
    overflow: auto;
    padding: .25rem .5rem;
}

.button-look{
    background-color: var(--button-base);
    border-radius: .5rem;
    cursor: pointer;
}
.button-look.small{
    padding: 5px
    ;
}