@import './reset.css';
@import './water.css';

:root{
    --color-error: #dc3545;
    --color-success: #28a745;
    --color-grey: grey;
}


/*GLOBALS*/

button{
    width: fit-content;
}

/*SINGLE CLASS MODIFICATORS*/
.w-100{
    width: 100%;
}

.mr-1x{
    margin-right: 0.5rem;
}

.clickable{
    cursor: pointer;
}

/*OTHERS*/

.form{
    display: flex;
    flex-direction: column;
}


.invalid-msg{
 width: 100%;
 margin-top: .25rem;
 font-size: .85em;
 color: var(--color-error);

}

.is-valid{
    border: .15em solid var(--color-success);
}

.is-invalid{
    border: .15em solid var(--color-error);
}



.box-container{
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    padding: 5px;
    background-color: var(--background);
}

.list-files li{
    margin-left: 1em;
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    padding: 3px 0.5rem;
    background-color: var(--background-alt);
    margin-top: 3px;
}
.list-files{
    gap: 1px;
}